body{
    margin: 0;
}

.main-login{
    background-color: rgb(122, 184, 215);
    border-right: 40px ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    color: #1a8739;
    font-family: Roboto-Bold;
}

.left-login{
    width: 50vw;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction: column;
}

h1{
    margin-bottom: -10px;
    font-family: Roboto-Bold;
    font-size: 50px;
}
p{
    font-family: Roboto-Light;
}

.greenman{
    width: 34vw;
}

.right-login{
    background-color: #fff;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
   font-family: Roboto-Regular;
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 30px 35px;
    border-radius: 30px;
    background-color: white;
    border: 5px solid rgb(54, 152, 201);
    box-shadow: 8px 20px 10px  #cac9c9;
}

h2{ /* LOGIN*/
    font-family: Roboto-Bold;
    color: #00FF4A;
    font-weight: 1200;
    margin-bottom: 10px;
    letter-spacing: 10px;
}

.conteudo{ /*"textfield" */ 
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin: 10px 0px;    
}
.conteudo > input{  /* conteudo dentro do input*/ 
    width: 100%;
    border: solid #9b9b9b;
    border-radius: 20px;
    padding: 15px;
    font-size: 12pt;
    box-shadow: 0px 2px ;
    box-sizing: border-box;
}

.conteudo > label{ /*Escrita que aparece em cima dos inputs, no caso "Usuário" e "Senha" */
    color:#9b9b9b;
    font-size: 12pt;
    margin-bottom: 5px;
}

.conteudo > input::placeholder{
    color: #9b9b9b;
}

.button-login{
    width: 66%;
    padding: 9px;
    margin: 10px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 800;
}

.forget-password{
    margin: 5px;
}

.icones-login a{
    display: inline-flex;
    margin: 0px 20px;
    justify-content: space-around;
    align-items: center;
    width: 45px;
}

img{
    width: 45px;
}

